@import './base.css';
.navigation{
   width: 100%;
   background: #0E49B5;
   height: fit-content;
   display: flex;
   justify-content: center;
   align-items: center;
   position: fixed;
   top: 0;
   z-index: 999;
   padding:  16px var(--margin);
}
.navLinks{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.logo{
    height: 48px;
    width: auto;
    object-fit: unset;
    -o-object-fit: unset;
}
.links{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:8px
}
.links .button{
    padding: 8px 20px;
    background: #39c489;
    border-radius: 6px;
}

.links a{
    color: #fff;
    font-style: 1.2rem;
    font-weight: 600;
    transition: .3s;
}
.links li.active a{
    color: #39c489;
}


/* media quary for smaller screens */
@media screen and (max-width:640px) {
    .links > li:not(.button){
        display: none;
    }
}